

<div class="col-md-12">
    <div class="card card-container">
        <h2>CUSTOMER REQUEST SERVICE INFORMATIONS</h2>
<!-- <button (click)="create()">AddPurcahse</button> -->
<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <td>  ID </td>
            <td>  TITLE  </td>
            <td>  DESCRIPTION  </td>
            <td>  STATUS  </td>
            <td>  TARGET COMPLETED DATE  </td>
            <td>  COMMENTS  </td>  
            <td>  ACTIONS </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let requestval of book; let i = index;" >
            <td> {{ requestval.id }} </td>
            <td> {{ requestval.title }} </td>
            <td> {{ requestval.description }} </td>
            <td>{{ requestval.status }}</td>
            <td> {{ requestval.completedDate }} </td>
            <td> {{ requestval.comments }} </td>
            <td>
               
           
                <button (click)="update(requestval,i)" class = "btn btn-primary" 
                style="margin-left: 10px"> UPDATE</button>

                <button (click) = "deleteRequest(requestval.id)" class = "btn btn-danger" 
                style="margin-left: 10px"> DELETE</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
