<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
<div class="col-md-12">
  <div class="card card-container">
    <!-- <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    /> -->
    <h2>CUSTOMER SERVICE PORTAL</h2>
    <br>
    <H5>1.LOGIN</H5>
    <H5>2.SIGN UP</H5>
    <H5>3.UPDATE CUSTOMER</H5>
    <H5>4.SEARCH REQUEST</H5>
    <H5>5.ADD REQUEST</H5>
    <H5>6.UPDATE REQUEST</H5>
    <H5>7.DELETE REQUEST</H5>
    
  </div>
</div>
